<% @questions = Question.all %>
<% @count = @questions.count %>
<% @answers = params[:answers] %>
<% @unanswered = 0 %>
<% @count.times do |i| %>
	<% if @answers[i] == "X" %>
		<% @unanswered += 1 %>
	<% end %>
<% end %>

<div class="jumbotron">
  <h1>Hold on one minute.</h1>
  <p>Are you ready to see your grade?</p>
  <% if @unanswered > 0 %>
  	<p>You still have <strong><%= @unanswered %></strong> unanswered questions.
  <% end %>
  <p><a class="btn btn-danger btn-lg" href=<%= exam_finished_path(answers: params[:answers]) %> role="button">Score Exam</a></p>
  <p><a class="btn btn-info" href=<%= exam_path(1, answers: params[:answers]) %> role="button">Go Back to Exam</a></p>
</div>