@import "bootstrap-sprockets";
@import "bootstrap";

body {
	text-align: center;
}

.question {
	margin: auto;
	width: 450px;
	text-align: left;
	font-size: 16px;
}

.choices {
	margin: auto;
	width: 400px;
	text-align: left;
}

.radio {
	font-weight: normal;
}

.submit-buttons {
	margin: auto;
	width: 450px;
	text-align: right;

}